---
import StoryEditor from "../../../components/admin/StoryEditor.jsx";
import "../../../styles/global.css";

const { id } = Astro.params;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Editor - Vox CMS</title>
  </head>
  <body class="bg-white">
    <StoryEditor client:only="react" storyId={id} />
  </body>
</html>
