---
import AdminsPage from '../../components/admin/AdminsPage.jsx';
import '../../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Admins - Explainer CMS</title>
    </head>
    <body>
        <AdminsPage client:only="react" />
    </body>
</html>
