---
import AuthorsPage from '../../components/admin/AuthorsPage.jsx';
import '../../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Authors - Explainer CMS</title>
    </head>
    <body>
        <AuthorsPage client:only="react" />
    </body>
</html>
