---
import CategoriesPage from '../../components/admin/CategoriesPage.jsx';
import '../../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Categories - Vox CMS</title>
    </head>
    <body>
        <CategoriesPage client:only="react" />
    </body>
</html>
