---
import LoginPage from '../../components/admin/LoginPage.jsx';
import '../../styles/base.css';
import '../../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Login - Explainer CMS</title>
    </head>
    <body class="bg-white antialiased">
        <LoginPage client:load />
    </body>
</html>
