---
import SubmissionsPage from "../../components/admin/SubmissionsPage.jsx";
import "../../styles/base.css";
import "../../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Guest Queue - Explainer CMS</title>
    </head>
    <body class="bg-gray-50/50">
        <SubmissionsPage client:only="react" />
    </body>
</html>
